<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">GitDNS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="https://github.com/zewenzhang/gitdns/blob/master/README.md">Docs</a></li>
              <li><a href="https://github.com/zewenzhang/gitdns-demo" target="_blank">GitHub Demo</a></li>
              <% if (user) { %>
                <li <%if (navigation == 'github') {%>class="active"<%}%> ><a href="<%= github_login_url %>">Create GitHub Repo</a></li>
              <% } %>
            </ul>
            <ul class="nav pull-right">
              <% if (user) { %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">logout</a></li>
                  </ul>
                </li>
              <% } else { %>
                <li>
                  <a href="<%= dnspod_login_url %>">Login With DNSPod</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
</div>

